
.v1 {
    height: 200px;
    width: 200px;
    background-color: #ff0000;
}

.v2 {
    height: 200px;
    width: 200px;
    background-color: #5eff00;
}

.v3 {
    height: 200px;
    width: 200px;
    background-color: #001aff;
}

.parent{
    display: flex;
    justify-content: ;
    flex-direction: row;
    align-items: ;
    height: 500px;
}